################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tetris/Tetris.VC.VC.opendb
/Tetris/Debug/music/bg.mp3
